<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="3 seconds">
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	<appender name="DAYLY_ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>./log/generator.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>./log/generator.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<!-- each file should be at most 100MB, keep 60 days worth of history, but at most 20GB -->
			<maxFileSize>5MB</maxFileSize>
			<maxHistory>120</maxHistory>
			<totalSizeCap>20GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="DAYLY_ROLLING"/>
	</root>
	<root level="info">
		<appender-ref ref="CONSOLE"/>
	</root>
	<logger name="com.sun.javafx.webkit.prism.WCPathImpl" additivity="false" level="OFF"/>
	<logger name="sun.rmi.transport.tcp" additivity="false" level="OFF"/>
	<logger name="sun.rmi.loader" additivity="false" level="OFF"/>
	<logger name="com.sun.javafx.webkit.prism.WCGraphicsPrismContext" additivity="false" level="OFF"/>
	<logger name="org.springframework.core.env.PropertySourcesPropertyResolver" additivity="false" level="OFF"/>
	<logger name="com.sun.javafx.webkit.theme.RenderThemeImpl" additivity="false" level="OFF"/>
	<logger name="com.sun.webkit.graphics.WCRenderQueue" additivity="false" level="OFF"/>
	<logger name="com.sun.webkit.perf.WCFontPerfLogger" additivity="false" level="OFF"/>
	<logger name="sun.rmi.server.call" additivity="false" level="OFF"/>
	<logger name="com.sun.javafx.webkit.prism.WCFontImpl " additivity="false" level="OFF"/>
	<logger name="com.sun.webkit.perf.WCGraphicsPerfLogger" additivity="false" level="OFF"/>
	<logger name="com.sun.webkit.WebPage" additivity="false" level="OFF"/>
	<logger name="javafx.scene.web.WebEngine" additivity="false" level="OFF"/>
	<logger name="com.sun.javafx.webkit.prism.WCFontImpl" additivity="false" level="OFF"/>
</configuration>