<!-- 二级菜单 -->
<ul class="submenu ul-level-2">
    <li class="open li-level-2">
        <a href="#" class="a-level-2">
            <i class="icon-double-angle-right"></i>
            <i class="icon-align-justify"></i>
            <span class="db-name">[database]</span>
            <i class="icon-check-empty can-check click-able blue check-all" title="全选"></i>
        </a>

        <!-- 三级菜单 -->
        <ul class="submenu ul-level-3">
            [tables]
        </ul>
        <!-- 三级菜单 -->
    </li>
</ul>
<!-- 二级菜单 -->