<!-- 一级菜单 -->
<ul class="nav nav-list">
    <li class="nav_forfind li-level-1" style="z-index:1;">
        <a href="#" class="a-level-1" link-id="[link-id]">
            <i class="icon-link"></i>
            <span class="menu-text" >[link-name]</span>
            <i class="icon-trash red click-able delete-link-btn" title="删除"></i>
            <i class="icon-edit green click-able edit-link-btn" title="修改"></i>
            <i class="icon-cogs blue click-able load-setting-btn" title="加载配置"></i>
            <b class="arrow icon-angle-down"></b>
        </a>

    </li>
</ul>
<!-- 一级菜单 -->