<!DOCTYPE html><html><head><meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1"><title>mybatis-helper</title><meta http-equiv=X-UA-Compatible content="IE=Edge"><style>html,body{
        margin: 0;
        padding: 0;
        overflow: hidden;
      }</style><script>window.isSingleTable = function (currentLinkInfo) {
        let count = 0;
        let currentLinkInfoDatabases = currentLinkInfo.databases;
        console.log(JSON.stringify(currentLinkInfoDatabases));
        currentLinkInfoDatabases.forEach(d => {
          d.tables.forEach(t => {
            if (t.checked) {
              count++;
            }
          });
        });
        return count === 1;
      }</script><link href=static/css/app.83d0f95ce9b9fb5d41744f911145265e.css rel=stylesheet></head><body><div id=app></div><script type=text/javascript src=static/js/manifest.37a2ecbb1d1b7e6c9ada.js></script><script type=text/javascript src=static/js/vendor.cbf80275769aacb47c03.js></script><script type=text/javascript src=static/js/app.13d3330411ee2ec82203.js></script></body></html>